table {
  width: 100%;
  border-radius: 5px;
  box-shadow: $box-shadow-two;
  margin: 30px;
  border-spacing: 0;

  thead {
    background-color: #c5daed;
    text-align: left;

    th {
      padding: 15px;
      font-size: 1.1rem;
    }
  }

  tbody {
    tr {
      height: 40px;
      cursor: pointer;
      transition: 250ms;
      color: #373737;

      &:hover {
        background-color: #f7f7f7;
      }

      td {
        padding: 15px;
        border-bottom: 1.2px solid $grey100;
      }
    }
  }
}

.fa-ellipsis-h {
  color: $grey200;
  cursor: pointer;
}
