.card {
  background-color: white;
  box-shadow: $box-shadow;
  border-top: 5px solid $cta-color;
  cursor: pointer;
  transition: 250ms;

  &__thumb {
    width: 100%;
  }

  &:hover {
    box-shadow: $box-shadow-darker;
  }
}
