.card {
  background-color: white;
  box-shadow: $box-shadow;
  border-top: 5px solid $cta-color;
  cursor: pointer;
  transition: 250ms;
  animation: fadeIn 500ms forwards;
  border-radius: $border-radius-one;

  &__thumb {
    width: 100%;
    height: 200px;
  }

  &:hover {
    box-shadow: $box-shadow-darker;
  }
}
