.hero {
  height: 100vh;
  width: 100vh;
  background-image: url("/ubud.jpg");

  &__container {
    height: 100%;
  }

  &__box {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px;
    padding: 50px;
    animation: slideIn 1s forwards;
  }
}
