.subheader {
  height: 225px;
  background-image: url("https://www.holland.com/upload_mm/2/9/c/68537_fullimage_9-straatjes_1360x.jpg");
  position: relative;

  &__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__title {
    color: white;
    background-color: rgba(60, 121, 203, 0.9);
    border-radius: $border-radius-one;
    z-index: $layer2;
  }
}
