.textfield {
  position: relative;
  padding-bottom: 10px;

  input {
    border: 1px solid $grey200;
    background-color: #f7f7f7;
    color: $grey400;
    padding: 8px;
    width: 250px;
    margin-left: 0px;
    outline: none;
    font-size: 1rem;
    transition: 250ms;

    &:focus {
      border: 1px solid $cta-color;
    }
  }

  .label {
    font-size: 0.9rem;
  }

  &__error {
    color: red;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    opacity: 0;
    transition: all 1s;

    &.active {
      opacity: 1;
    }
  }
}
