.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: $border-radius-one;
  transition: 250ms;
  position: relative;
  background-color: $cta-color;
  color: white;

  &:hover {
    background-color: darken($cta-color, 7%);
  }

  &--lg {
    padding: 10px 50px;
    font-size: 1.25rem;
    margin: 25px;
  }

  &--primary {
    background-color: $cta-color;
    color: white;
    margin-right: 12px;
    width: 175px;
    height: 35px;

    &:hover {
      background-color: darken($cta-color, 7%);
    }
  }
  &--cta {
    background-color: $green-color;
    color: white;

    &:hover {
      background-color: darken($green-color, 7%);
    }
  }
}
