//Colors
$primary-color: #222;
$secondary-color: tomato;
$cta-color: #3c79cb;
$green-color: #34ca96;
$error-color: #e24444;

//Grey scales
$grey100: #eee;
$grey200: #bbb;
$grey400: #888;
$grey600: #555;

//Border radius
$border-radius-one: 5px;
$border-radius-two: 10px;

//Z-index
$layer1: 1;
$layer2: 2;
$layer3: 3;
$layer4: 4;
$layer5: 5;

//Box shadow
$box-shadow: 0 2px 10px #ccc;

//Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large: 1200px;
